body {
    background-image: url('../img/bg.jpg');
    background-size: 100vmax 100vmax;
    background-repeat: no-repeat;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.player-container {
    align-self: center;
    background-color: #2A2237;
    margin-top: 10vmin;
    padding: 1.1rem;
    border-radius: .8rem;
}

.image-container img {
    width: 19rem;
    border-radius: .6rem;
    margin-bottom: .5rem;
}

.song-info-container {
    text-align: center;
}

.song-title {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.song-artist {
    font-size: .8rem;
    color: #3D404F;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .4rem !important;
    font-weight: bold;
}

.times {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.time-bar{
    margin: 0;
}

.remind-time {
    color: #3D404F;
    font-size: .7rem;
    margin: 0 !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .4rem !important;
    font-weight: bold;
}

.total-time {
    color: #3D404F;
    font-size: .7rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .4rem !important;
    font-weight: bold;
    justify-self: end;
}

input[type=range]{
    width: 100%;
    padding: 0 !important;
}

input[type="range"]::-webkit-slider-thumb {
    visibility: hidden;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    background: white;
    background-color: #C93B77; 
    opacity: 85%;
    height: .5rem;
    border-radius: .3rem;
  }
  

.controls-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.last-btn {
    padding: .5rem;
    padding-right: 1rem;
    cursor: pointer;
}

.last-btn hover{
    background-color: red;
}

.pause-btn {
    width: 2rem;
    height: 2rem;
    background-color: #C93B77;
    border-radius: 50%;
    padding: .5rem;
    cursor: pointer;
}

.next-btn {
    padding: .5rem;
    padding-left: 1rem;
    cursor: pointer;
}